/* body{
  background-color: aqua;

} */
.roundImg{
  border-radius: 50%;
  height: 50px;
  width: 50px;
}
.imageName{
  display: flex;
}
.ageStyle{
  margin-left: 10px;
}
.counter{
  font-size: 25px;
  font-weight: 900;
  border-radius: 50%;
  border: 2px solid red;
}
.main{
  display: flex;
  justify-content: center;
  align-items: center;
  height:auto;
}
.boxShadow{
  box-shadow: -15px -12px 68px 13px rgba(0,0,0,0.85);
  -webkit-box-shadow: -15px -12px 68px 13px rgba(0,0,0,0.85);
  -moz-box-shadow: -15px -12px 68px 13px rgba(0,0,0,0.85);  height: auto;
  width: auto;
  background-color: beige;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}